{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
	    <h1 class="jumbotron-heading">Profile</h1>
	</div>
</div>

<div>
	<h2>{{ user.username }}</h2>
	<p>Email: {{ user.email }}</p>

	{% if userprofile %}
	    <p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
	    <br/>
	{% if userprofile.picture %}
	    <img src="{{ userprofile.picture.url }}" />
	{% endif %}
	{% endif %}

</div>




{% endblock %}